[user]
	email = carlos@codurance.com
	name = Carlos Morera de la Chica
[core]
	ignorecase = false
	fileMode = false
[push]
  default = current
[pager]
  diff = diff-so-fancy | less --tabs=1,5 -RFX
  show = diff-so-fancy | less --tabs=1,5 -RFX
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
  prompt = false
[alias]
  discard = !git clean -df && git checkout -- .
  prunelocal = !git branch -d $(git branch --merged)
